html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

div#container {
  position: relative;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  padding-bottom: 3em;
}

div#content {
  padding: 1em;
}

#mouse-tip {
  position: fixed;
  right: 1em;
  bottom: 1em;
  background-color: darkgrey;
  font-weight: bold;
  padding: 0 0.5em;
}

div#footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  font-size: small;
}

div#footer p {
  padding: 1em;
  margin: 0;
}

span.rawData {
  font-weight: bold;
  padding-right: 5px;
  white-space: nowrap;
}

span.decodedData {
  white-space: pre;
}

span.composite-label {
  font-weight: bold;
}

.highlight {
  background-color: #00ffff;
}

.tag-highlight {
  background-color: #05ff09;
}
.length-highlight {
  background-color: #ffc606;
}

.indent {
  margin-left: 20px;
  vertical-align: top;
}

.bytes {
  font-family: monospace;
  font-size: small;
}

#display {
  margin-top: 1em;
}

#value_field {
  resize: both;
  display: inline-block;
}

.composite-chunked {
  font-weight: normal;
  display: inline;
}

.collapsed.composite-chunked {
  opacity: 0;
  height: 0;
  overflow: hidden;
  width: 0;
  display: inline-block;
}

.expanded.composite-chunked, .expanded.detail {
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  opacity: 1;
  max-height: 100%
}

.expander:hover {
  opacity: 0.5;
  cursor: pointer;
}

.collapsed.detail {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

.detail {
  -webkit-transition: height 0.5s ease-out;
  transition: height 0.5s ease-out;
}

.popover {
  max-width: 500px;
  font-weight: normal;
}

#permalink {
  width: 480px !important;
}

[data-category="c-apdu"].apdu-label, [data-category="r-apdu"].apdu-label {
  font-size: 1.2em;
}

[data-category="c-apdu"].apdu-label:before, [data-category="r-apdu"].apdu-label:before, .fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 2px;
}

[data-category="c-apdu"].apdu-label:before {
  content: "\f1ec";
}

[data-category="r-apdu"].apdu-label:before {
  content: "\f09d";
}

.fa-link:before {
  content: "\f0c1";
}

.fa-close:before {
  content: "\f00d";
}

.decoded,.composite-decoded {
  width: -webkit-fit-content;
  width: -moz-fit-content;
}

[data-category="c-apdu"].decoded, [data-category="c-apdu"].composite-decoded {
  margin-top: 10px;
}

[data-category="parse-error"] {
  color: red;
}

[data-category="parse-warning"] {
  color: #ff8b03;
}

.long-background {
  margin-top: 10px;
  font-size: 0.9em;
}

span.tag-name {
  font-weight: bold;
}

#tag-background {
  position: relative;
  max-width: 50em;
  display: none;
  background-color: #d9edf7;
  padding: 0.5em;
}

#hide-tag-background {
  position: absolute;
  top: 0;
  right: 0;
}

[data-short]:not([data-short=""]) {
  cursor: pointer; 
}

[data-short]:not([data-short=""]):hover {
  opacity: 0.6; 
}

.mousey-mode .decoded.highlight,.mousey-mode .composite-decoded.highlight {
  background: linear-gradient(270deg, #1fecf7, #ffffff);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 2s ease infinite;
  -moz-animation: AnimationName 2s ease infinite;
  animation: AnimationName 2s ease infinite;
}

.mousey-mode .bytes.highlight {
  -moz-animation: pulse-background 2s infinite alternate;
  -webkit-animation: pulse-background 2s infinite alternate;
  animation: pulse-background 2s infinite alternate;
}

@keyframes pulse-background {
  0% {opacity: 0.6}
  100% {opacity: 1}
}
@-webkit-keyframes pulse-background {
  0% {opacity: 0.6}
  100% {opacity: 1}
}
@-moz-keyframes pulse-background {
  0% {opacity: 0.6}
  100% {opacity: 1}
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}